.crystals{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.crystal{
    border: 1px solid green;
    height: 200px;
    width: 200px;
}








/* *  border: red;
    padding: 22px;
    width: 300px;
    text-align: center;
    color: white;
    background: brown;
    font-size: 22pt;
}
.wrapper{
    font: bold;
    font-size: 16pt;
    border: solid 2px red;
    padding: 10px;
    margin: 10px;
    height: 500px;
    width: 500px;
    background: rgb(212, 212, 57);
}
.row {
    clear: both;
    display: grid;

}
.col-4{
    font: bold;
    font-size: 16pt;
    border: solid 2px red;
    padding: 10px;
    margin: 10px;
    height: 100px;
    width: 250px;
    background: rgb(212, 212, 57);
}
.col-1{
    font: bold;
    font-size: 16pt;
    border: solid 2px red;
    padding: 10px;
    margin: 10px;
    height: 100px;
    width: 75px;
    background: rgb(212, 212, 57);
    float: left;
} */