body{
    background-image: url('https://spidermonkeymotorsports.files.wordpress.com/2015/03/wallpaper-3840x2160-sea-beach-evening-sun-sunset-4k-ultra-hd-hd-background.jpg');
    background-size: cover;
    font-size: 30pt;
    color: black;
    
}

.crystals{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.crystal{
    border: 1px solid green;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.7s, transform 2s;
}

.crystal:hover{
    box-shadow: 18px 18px 18px rgba(0, 0, 0, 0.5);
    transform: translate(3px,30px);
    cursor: pointer;
    transition: box-shadow 0.7s, transform 0.6s;
}
img{
    width: 50px;
}
#previous{
    text-align: center;
}
h1{
    text-align: center;
    border: 2px solid green;
    width: 450px;
    padding: 5px;
    font-size: 40pt;
    color: red;
    background: yellowgreen;
    border-radius: 18px;
}






